# Core Frameworks
fastapi
uvicorn
streamlit
python-dotenv
requests
pydantic

# AI and NLP
openai
langchain
langgraph
tiktoken
transformers
sentence-transformers
faiss-cpu

# Web Scraping
beautifulsoup4
lxml

# Voice STT & TTS
whisper
pyttsx3
sounddevice
SpeechRecognition
